{% extends 'base.html.twig' %}
{% block title %}Pompe Funebres Le Souvenir{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
<style>
  @import url(http://fr.allfont.net/allfont.css?fonts=amazone-bt);
</style>
 <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('img/imgslider2.jpg')">
                    <div class="carousel-caption d-none d-md-block"data-aos="fade-up"
     data-aos-duration="3000" style=" border-bottom-right-radius: 80px;
     border-bottom-left-radius: 80px;
     border-top-left-radius: 80px;">
                        <h1 ><span>L</span><span>e</span> <span>S</span><span>o</span><span>u</span><span>v</span><span>e</span><span>n</span><span>i</span><span>r</span><br>
                        <span>P</span><span>o</span><span>m</span><span>p</span><span>e</span> <span>F</span><span>u</span><span>n</span><span>e</span><span>b</span><span>r</span><span>e</span><span> - </span><span>M</span><span>a</span><span>r</span><span>b</span><span>b</span><span>e</span><span>r</span><span>i</span><span>e</span></h1>
                             <img src="img/OC1Y7T0test.png" alt="" style="width: 8em;filter: invert(1);">
                        <p style="padding: 1em 1em 1em 1em ; color: white;">Votre spécialiste de l’organisation complète d’obsèques et sommes situés à Charleville-Mézières et Sedan, dans le département des Ardennes, en région Grand Est.</p>

                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('img/imgslider1.jpg')">
                    <div class="carousel-caption d-none d-md-block" data-aos="fade-up"
     data-aos-duration="3000"style=" border-bottom-right-radius: 80px;
     border-bottom-left-radius: 80px;
     border-top-left-radius: 80px;">
     <h1><span>L</span><span>e</span> <span>S</span><span>o</span><span>u</span><span>v</span><span>e</span><span>n</span><span>i</span><span>r</span><br>
        <span>P</span><span>o</span><span>m</span><span>p</span><span>e</span> <span>F</span><span>u</span><span>n</span><span>e</span><span>b</span><span>r</span><span>e</span><span> - </span><span>M</span><span>a</span><span>r</span><span>b</span><span>b</span><span>e</span><span>r</span><span>i</span><span>e</span></h1>
                        <img src="img/OC1Y7T0test.png" alt="" style="width: 8em;filter: invert(1);">
                        <p style="padding: 1em 1em 1em 1em ; color: white;">Votre spécialiste de l’organisation complète d’obsèques et sommes situés à Charleville-Mézières et Sedan, dans le département des Ardennes, en région Grand Est.</p>
</div>
                </div>
                <div class="carousel-item" style="background-image: url('img/imgslider3.jpg')">
                    <div class="carousel-caption d-none d-md-block" data-aos="fade-up"
     data-aos-duration="3000"style=" border-bottom-right-radius: 80px;
     border-bottom-left-radius: 80px;
     border-top-left-radius: 80px;">
     <h1><span>L</span><span>e</span> <span>S</span><span>o</span><span>u</span><span>v</span><span>e</span><span>n</span><span>i</span><span>r</span><br>
        <span>P</span><span>o</span><span>m</span><span>p</span><span>e</span> <span>F</span><span>u</span><span>n</span><span>e</span><span>b</span><span>r</span><span>e</span><span> - </span><span>M</span><span>a</span><span>r</span><span>b</span><span>b</span><span>e</span><span>r</span><span>i</span><span>e</span></h1>
                        <img src="img/OC1Y7T0test.png" alt="" style="width: 8em;filter: invert(1);">
                        <p style="padding: 1em 1em 1em 1em ; color: white;">Votre spécialiste de l’organisation complète d’obsèques et sommes situés à Charleville-Mézières et Sedan, dans le département des Ardennes, en région Grand Est.</p>
 </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    <div class="container" style="text-align: center; padding: 2em 4em 4em;"  data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
        <h2 class="my-4" style="font-size: 3em;">Notre Histoire</h2><hr>
    </div>
    <div class="container" style="text-align: center; padding: 2em 4em 4em;">

        <p style="font-size: 1.4em;">Depuis plus de 20 ans, les pompes funèbres Le Souvenir sont à vos côtés dans les moments douloureux que sont le deuil et la perte d'un être cher. Nous vous accueillons du lundi au samedi au sein de nos deux structures qui sont situées respectivement à Charleville-Mézières et à Sedan dans le département des Ardennes. Vous pouvez entièrement vous reposer sur nous pour l'organisation de funérailles tant sur le plan administratif que pour respecter les dernières volontés du défunt.</p>
        <img src="img/OC1Y7T0test.png" alt="" style="width: 20em; margin-top: 4em;filter: invert(1);">
    </div>
    </div>
    <div class="container-fluid parallax-window" id="parallax" data-parallax="scroll" data-image-src="img/imgslider3.jpg">
        <div class="container">
            <div class="row" style="padding: 6em 0em;">
                <div class="col-sm"></div>
                <div class="col-sm" id="test" style="background-color: whitesmoke; padding: 6em 1em;  border-bottom-right-radius: 80px;
                border-bottom-left-radius: 80px;
                border-top-left-radius: 80px;"data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <h1 ><span>P</span><span>o</span><span>m</span><span>p</span><span>e</span> <span>F</span><span>u</span><span>n</span><span>e</span><span>b</span><span>r</span><span>e</span><br>
                    <span>L</span><span>e</span> <span>S</span><span>o</span><span>u</span><span>v</span><span>e</span><span>n</span><span>i</span><span>r</span></h1>
                    <p style=" color: white;">Dans le département des Ardennes 08, nous sommes spécialisés dans la <strong> MARBRERIE</strong> et l' <strong> ORGANISATION D'OBSEQUES</strong>.</p>
                       <p style=" color: white;"> Nous sommes à votre disposition pour
                        la <strong> CREATION de MONUMENTS</strong>
                        et de <strong> CAVEAUX</strong></p>
                        <p style=" color: white;"> Nous vous accompagnons dans
                        Toutes les
                        <strong> DEMARCHES ADMINISTRATIVES</strong></p>
                        <p style=" color: white;"> Nous organisons les obsèques selon
                        Les <strong> SOUHAITS</strong> et les <strong> VOLONTES</strong>
                        de chacun et
                        nous vous conseillons dans
                        Le choix
                        de <strong> FLEURS</strong> et de <strong>CERCUEILS</strong> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center; padding: 2em 4em 4em;" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
        <h2 class="my-4" style="font-size: 3em;">Nos Services</h2><hr>
    </div>
    <div class="container-fluid"style="text-align: center; padding: 2em 4em 4em;">
        <div class="row">
            <div class="col-sm"data-aos="fade-up"
            data-aos-duration="3000">
                <a  href="{{path('obseques')}}" ><img src="img/funeral.png" alt="" style="filter: grayscale(1);"></a>
                <h3><a  href="{{path('obseques')}}" >Organisation des obsèques</a></h3>
                <p style="    font-size: 1em!important;">Nous vous proposons de procéder à <strong> l’organisation complète d’obsèques</strong>. </p>
            </div>
            <div class="col-sm" style="padding-top: 6%;"data-aos="fade-up"
            data-aos-duration="3000">
               <a  href="{{path('transport')}}" > <img src="img/hearse.png" alt="" style="filter: grayscale(1);"></a>
                <h3><a  href="{{path('transport')}}" >Transport</a></h3>
                <p  style="    font-size: 1em!important;">Nous assurons le <strong> transport de corps, avant et après mise en bière</strong>, sur toutes distances.</p>
            </div>
            <div class="col-sm"  style="padding-top: 12%;"data-aos="fade-up"
            data-aos-duration="3000">
               <a  href="{{path('administratives')}}" > <img src="img/checklist.png"  alt="" style="filter: grayscale(1);"></a>
                <h3><a  href="{{path('administratives')}}" >Démarches administratives</a></h3>
                <p  style="    font-size: 1em!important;">Afin de vous soulager, nous nous occupons de <strong>tous les aspects administratifs</strong>  liés à une disparition.</p>
            </div>
            <div class="col-sm" style="padding-top: 6%;"data-aos="fade-up"
            data-aos-duration="3000">
                 <a  href="{{path('marbrerie')}}" ><img src="img/grave-1-1.png" alt="" style="filter: grayscale(1);"></a>
                <h3> <a  href="{{path('marbrerie')}}" >Marbrerie</a></h3>
                <p  style="    font-size: 1em!important;">Notre équipe de <strong> marbriers funéraires</strong> intervient de la fourniture à la pose de monuments funéraires.</p>
            </div>
            <div class="col-sm"data-aos="fade-up"
            data-aos-duration="3000">
               <a  href="{{path('fournitures')}}" ><img src="img/ash.png" alt="" style="filter: grayscale(1);"></a>
                <h3> <a  href="{{path('fournitures')}}" >Fournitures</a></h3>
                <p  style="    font-size: 1em!important;">Urnes, <strong> plaques souvenir, fleurs, décoration de pierre tombale</strong>, etc.</p>
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center; padding: 2em 4em 4em;" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
        <h2 class="my-4" style="font-size: 3em;">Ou nous trouver ?</h2><hr>
    </div>
    <div class="container-fluid" style="text-align: center; padding: 2em 4em 4em;"data-aos="fade-up"
    data-aos-duration="3000">
        <div class="row">
            <div class="col-sm" style="align-self: center;"><img src="img/logopf.jpg" class="img-fluid"
                    alt="Responsive image"></div>
            <div class="col-sm" style="    align-self: center;">
                <h2 class="my-4">Pompe Funebres Le Souvenir</h2>
                <p>C'est avant tout des professionnels
                    à l'écoute de vos souhaits et de chacune de vos volontés.
                     </p>
                     <p> Nous vous accueillons dans nos deux magasins :</p>
                        <p> <strong  style="color: white;"> Sedan</strong> : 22 rue Rovigo 08000 Sedan </p>
                        <p><i class="fas fa-phone-square-alt"></i> : 03.24.24.25.25 </p>
                        <p><strong  style="color: white;">Charleville-Mézières</strong> : 22 rue Rovigo 08000 Sedan</p>
                        <p><i class="fas fa-phone-square-alt"></i> : 03.24.24.25.25 </p>
                       <p> Nous somme la pour nous occuper de tout pendant cette épreuve difficile.</p>
            </div>
        </div>
    </div>
    <div class="container aos-init aos-animate" style="text-align: center; padding: 2em 4em 4em;" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
        <h2 class="my-4" style="font-size: 3em;">Les dernières deces</h2><hr>
    </div>
    <div class="container-fluid" style="text-align: center; padding: 0em 4em 1em;">
     <div class="row">
        <div class="col-lg-4 aos-init aos-animate" style="padding-top: 2%;" data-aos="fade-up" data-aos-duration="3000">
           <div class="row justify-content-center"> <img src="img/Mr_IORI_Andry.jpg" class="img-fluid profile-pic mb-4 mt-3 rounded-circle"> </div>
          <h3>MONSIEUR IORI ANDRÉ </h3>
          <p>(FLOING / GLAIRE) + 1938 - 2019</p>
          <p><a class="btn btn-secondary" href="defunt.html" role="button">En savoir plus»</a></p>
        </div>
        <div class="col-lg-4 aos-init aos-animate" style="padding-top: 8%;" data-aos="fade-up" data-aos-duration="3000">
           <div class="row justify-content-center"> <img src="img/Mme_ALAIME.jpg" class="img-fluid profile-pic mb-4 mt-3 rounded-circle"> </div>
          <h3>MADAME ALAIME DENISE </h3>
          <p>(VRIGNE AUX BOIS) + 1934 - 2018</p>
          <p><a class="btn btn-secondary" href="defunt.html" role="button">En savoir plus»</a></p>
        </div>
        <div class="col-lg-4 aos-init aos-animate" style="padding-top: 2%;" data-aos="fade-up" data-aos-duration="3000">
           <div class="row justify-content-center"> <img src="img/Mr_BERNARD_AVIS_D2C7S.jpg" class="img-fluid profile-pic mb-4 mt-3 rounded-circle"> </div>
          <h3>MONSIEUR BERNARD GILLES </h3>
          <p>(GIVONNE) + 1956 - 2018</p>
          <p><a class="btn btn-secondary" href="defunt.html" role="button">En savoir plus»</a></p>
        </div>
      </div>

</div>
    
<div class="container"> <hr> </div>
    <div class="container" style="text-align: center; padding: 1em 3em 3em;" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" >
        <h2 class="my-4" style="font-family: Great Vibes ">Vous souhaitez en savoir plus ?</h2>
        <p style="font-size: 1.4em;">Nous nous déplaçons à votre domicile pour un devis gratuit. Nous prenons le temps de vous expliquer le déroulement des obsèques et répondons à toutes vos questions, de tous ordre. Faites-confiance à des professionnels discrets et efficaces.</p>
            <div class="row">
                <div class="col-lg-12 mb-8">
                  <h3>Contactez-nous</h3>
                  <div id="contactForm">
                    {{ form_start(form) }}
                    <div class="row">
                         <div class="col">{{ form_row(form.firstname)}}</div>
                         <div class="col">{{ form_row(form.lastname)}}</div>
                    </div>
                    <div class="row">
                         <div class="col">{{ form_row(form.phone)}}</div>
                         <div class="col">{{ form_row(form.email)}}</div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <button class="btn btn-secondary">Envoyer</button>
                    </div>
                    
                    {{ form_end(form) }}
                </div>
              </div></div>
    </div>

{% endblock %}