{% extends 'base.html.twig' %}
{% block title %}Pompe Funebres Le Souvenir{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
<style>
  @import url(http://fr.allfont.net/allfont.css?fonts=amazone-bt);
</style>
<div class="container-fluid parallax-window paral" id="parallax" data-parallax="scroll" data-image-src="../img/imgslider2.jpg" style="
    height: 50em;
    background-position-y: center;
    font: -webkit-control;    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 0px;
    padding-left: 0px;">
    </div>
    <div class="container">
        <h3 class="my-4">{{ article.title }}
        </h3>
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="../img/{{ article.image }}" alt="" >
          </div>
          <div class="col-md-8">
           
           <p> {{ article.content }}</p>
           <p>publie le {{ article.createdAt | date('d/m/Y') }} a {{ article.createdAt | date('H:i') }} </p>
        <h2 class="text-center">Condoléances</h2>
        <div class="container-fluid"> <hr> </div>
          {% for comment in article.comments %}
        <div class="card" style="margin-bottom: 1em;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                            <p class="float-left"><strong>{{comment.author}}</strong> (<small>{{comment.createdAt | date('d/m/Y') }} a {{ article.createdAt | date('H:i') }})</small></p>
                       <div class="clearfix"></div>
                        <p>{{comment.content}}</p>
                        {% if app.user %}
                        <p><a class="btn btn-secondary" href="{{ path('delete', {'id': comment.id})}}" role="button">supprimer</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
            <h2 class="text-center">Laissez vos condoléances</h2>
            <div class="container-fluid"> <hr> </div>
            <p>Veuillez partager votre message de condoléances avec la famille.</p>
           
       {{ form_start(commentForm) }}

    {{ form_row(commentForm.author, {'attr' : {'placeholder': "Nom et Prenom"}}) }}
    {{ form_row(commentForm.content, {'attr' : {'placeholder': "Votre message"}}) }}

    <button type="submit" cless="btn btn-success">
    Enregistrer
    </button>

    {{ form_end(commentForm) }}
            </div>
            </div>
    </div>
{% endblock %}
