<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Pompe Funebres Le Souvenir{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
        <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
        <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="icon" sizes="32x32" href="img/OC1Y7T0test.png">
        <meta name="description" content="Pompe Funebres Le Souvenir">
        <meta name="author" content="mr-reboot">
        <meta name="keywords" content="Le Souvenir, Pompe Funebres, site, ardennes, pompe funèbres dans les ardennes, marnes, reims, sedan, charlevilles, décès, Ardennes">
         <link href="{{ asset('/css/index.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="dark">
    <div class="navigation-wrap bg-dark start-header start-style" style=" border-bottom-right-radius: 80px; border-bottom-left-radius: 80px;
    ">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-dark" >
					
						<a class="navbar-brand" href="/" style="color: white; font-family: 'Amazone BT', arial; font-size: 2em;">
                            <img src="../img/OC1Y7T0test.png" width="30" height="30" class="d-inline-block" alt="" style="filter: invert(1);">
                             Le Souvenir <br> Pompe Funebres</a>	
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 ">
									<a class="nav-link" href="/">Accueil</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="{{path('blog')}}">Avis de décès</a>
								</li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link"  target="_blank" href="http://www.fape-obseques.com/les-solutions-en-contrats-assurance-prevoyance-proposeee-par-fape.html">Contrat obsèque</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="{{path('team')}}">Notre Equipe</a>
								</li>
								
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="{{path('galerie')}}">Galerie</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="{{path('contact')}}">Contact</a>
                                </li>
                                {% if app.user %}
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="{{path('create_deces')}}">Ajouter un décès</a>
                                </li>
                                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="{{path('security_logout')}}">Deconnexion</a>
                                </li>
                                {% endif %}
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
	</div>
        {% block body %}{% endblock %}
         <a id="button" title="Haut de page" style="background-color: #2A2A2A;"></a>
    <footer class="py-2 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Réalisation MR-REBOOT | © POMPES FUNÈBRES LE SOUVENIR 2020</p>
        </div>
    </footer>
   <script src="{{ asset('js/jquery.js') }}"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="{{ asset('js/parallax.js') }}"></script>
    <script>
        AOS.init();
      </script>
        <script>
            var btn = $('#button');
            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    btn.addClass('show');
                } else {
                    btn.removeClass('show');
                }
            });
            btn.on('click', function (e) {
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: 2
                }, '300');
            });
        </script>
        <script>
            (function($) { "use strict";
            
                $(function() {
                    var header = $(".start-style");
                    $(window).scroll(function() {    
                        var scroll = $(window).scrollTop();
                    
                        if (scroll >= 10) {
                            header.removeClass('start-style').addClass("scroll-on");
                        } else {
                            header.removeClass("scroll-on").addClass('start-style');
                        }
                    });
                });		
                    
                //Animation
                
                $(document).ready(function() {
                    $('body.hero-anime').removeClass('hero-anime');
                });
            
                //Menu On Hover
                    
                $('body').on('mouseenter mouseleave','.nav-item',function(e){
                        if ($(window).width() > 750) {
                            var _d=$(e.target).closest('.nav-item');_d.addClass('show');
                            setTimeout(function(){
                            _d[_d.is(':hover')?'addClass':'removeClass']('show');
                            },1);
                        }
                });	
                
                //Switch light/dark
                
                $("#switch").on('click', function () {
                    if ($("body").hasClass("dark")) {
                        $("body").removeClass("dark");
                        $("#switch").removeClass("switched");
                    }
                    else {
                        $("body").addClass("dark");
                        $("#switch").addClass("switched");
                    }
                });  
                
              })(jQuery); </script>
               <script>$(document).ready(function(){
        $(".fancybox").fancybox({
              openEffect: "none",
              closeEffect: "none"
          });
          $(".zoom").hover(function(){
              
              $(this).addClass('transition');
          }, function(){
              
              $(this).removeClass('transition');
          });
      });
          </script>
              <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>var image = document.getElementsByClassName('thumbnail');
new simpleParallax(image, {
	delay: .6,
	transition: 'cubic-bezier(0,0,0,1)'
});</script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
